*{
    /* aqui está fazendo o reset no meu arquivo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: calibri;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(43, 139, 2, 0.7);
    height: 7vh;
    position: fixed;
    width: 100%;
}

.navegacao-primaria{
    width: 20vw;
    display: flex;
    margin-left: 20px;
    font-size: 30px;
}

.ancora{
    color: rgb(214, 254, 215);
    text-decoration: none;
    border-radius: 5px;
    background: rgba(51, 84, 37, 0.2);
    width: auto;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;

}

.ancora:hover{
    background: rgba(25, 54, 13, 0.5);
    transition: background-color 0.1s;
    transform: scale(1.1);
    transition: transform 0.2s;
}

body{
    background: url(assets/pexels-tom-fisk-2739664.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


#titulo > u{
    align-self: center;
}



.Section-Comum {
    width: 920px;
    max-height: px;
    padding: 20px 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: center;  
}

.Div-Titulo{
    background: rgb(119, 100, 64);
    padding: 5px 0px 5px 10px;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    border: 5px solid rgb(74, 62, 40);
    margin-top: 10px;
}

.Div-Texto{
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;
    border-top: 5px solid rgb(119, 100, 64);

}

.Div-Texto2{
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;

}


div img{
    float: left;
    max-width: 288px;
    max-height: 200px;
    margin: 5px 15px 0px 5px;
}

div iframe{
    float: left;
    max-width: 288px;
    max-height: 200px;
    margin: 5px 15px 0px 5px;
}



.Div-Texto2-estados{
    background-color: wheat;
    padding: 20px 50px 25px 50px;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;
}

.Div-Texto2-estados a{
    display: flex;
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color:rgb(119, 100, 64);
    border: 1px solid black;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

.Div-Texto2-estados a:hover{
    transition: background-color 0.1s;
    transform: scale(1.02);
    transition: transform 0.2s;
}

.article-turismo{
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;
    border-top: 5px solid rgb(119, 100, 64);
}

article img{
    float: left;
    max-width: 288px;
    max-height: 200px;
    margin: 5px 15px 0px 5px;
}

.article-acre{
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;
    border-top: 5px solid rgb(119, 100, 64);
}

article img{
    float: left;
    max-width: 288px;
    max-height: 200px;
    margin: 5px 15px 0px 5px;
}

footer{
    background-color: rgb(15, 58, 15);
    color: white;
}

footer p{
    margin: -24px 0px 0px 0px;
    padding: 10px;
}

div a{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(161, 135, 87);
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: 2px solid black;
  }
  
  button:hover{
      background: rgb(151, 137, 110);
      transition: background-color 0.1s;
      transform: scale(1.02);
      transition: transform 0.2s;
  }